<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:spaceless>
    <f:section name="Main">
        <f:debug>{_all}</f:debug>
        <f:if condition="{lib.pagecss !== ''}">
        <f:asset.css identifier="modalCSS" href="{f:cObject(typoscriptObjectPath: 'lib.pagecss')}" />
    </f:if>
    <f:if condition="{lib.pagejs !== ''}">
        <f:asset.script identifier="modalJs" src="{f:cObject(typoscriptObjectPath: 'lib.pagejs')}" />
    </f:if>
    </f:section>
</f:spaceless>
</html>