<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:spaceless>
    <f:section name="Main">
        <f:debug>{_all}</f:debug>
        <div class="video-container">
            <f:if condition="{data.header}">
                <h2>{data.header}</h2>
            </f:if>
            <div class="ku-video-player">
                <video>
                    <source src="" type="video/mp4">
                </video>
                <button type="button" aria-lavel="" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-btn-fill" viewBox="0 0 16 16">
                        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                      </svg>
                </button>
            </div>
        </div>
        <f:render partial="structuredData" section="Data" arguments="{_all}" />
        <f:if condition="{lib.video23.pagecss !== ''}">
            <f:asset.css identifier="video23CSS" href="{f:cObject(typoscriptObjectPath: 'lib.video23.pagecss')}" />
        </f:if>
        <f:if condition="{lib.video23.pagejs !== ''}">
            <f:asset.script identifier="video23Js" src="{f:cObject(typoscriptObjectPath: 'lib.video23.pagejs')}" />
        </f:if>
    </f:section>
</f:spaceless>

</html>